<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Gift Card Manager</title>
</head>

<body>
    {{> _header}}
    {{> _add_btn}}

    <div class="container">
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'));
        M.FormSelect.init(document.querySelector('#status'));
        function myFunction() {
            var giftID = document.getElementById('giftID');
        }

        //The question is how do i programatically nicely print out a card
        //Expand this by printing out multiple cards at once
        //Now I'm starting to think that printing on the fly doesn't really work out.
        //Some options, send an email to recipient with a specially formatted email that contains the code
        //Or generate several CODES ahead of time, set all of them to be deactivated.
            //When the code is bought, open up the application, activate it and then wait until it's used to search it up and delete it
            //So would people want to buy just a random set of numbers, the idea is to have a gift.
        //I guess for a test run I can generate like a bulk of 10 codes. Print out some nice cards using those codes and then see what happens.
        //Of course it'll be a little bit more annoying then just paying with cash. Eh i'll have to see
    </script>
</body>

</html>