<h4>Using the application is easy!</h4>
<p>1.) Start by clicking on the bottom right + sign to take you to the code creation page.</p>
<p>2.) From there you can generate a random 16 digit code to use as authentication</p>
<p>3.) Afterwards you can designate a value that you want to give the code</p>
<p>4.) What happens next depends on how you decide to handout the codes</p>
<p>5.) You can either keep the code deactivated so that you can activate the codes at a later time, and then print out a
    voucher with that code on it.</p>
<p>Now you can start generating as many codes as you want.</p>
<p>6.) Changing the values is simple. When a customer walks in with a code, you can search it up on your database.</p>
<p>7.) Click on the hamburger helper icon on the top left and click on the search bar.</p>
<p>8.) Once your at the search menu you can enter in a 16 digit code and it will pull up the associated card. </p>
<p>9.) From there click on the edit icon to change the balance of the card. Since we haven't integrated into any payment
    services, you'll have to take into account the value of the card and the purchase when conducting a payment.</p>
<br>
<br>
<p>More features will be added overtime to improve the user experience</p>