<h3> Add Gift Card </h3>
<div class="row">
    <form action="/giftcards" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="number" id="giftID" name="giftID">
                <label for="giftID">GIFT ID: </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="value">VALUE: </label>
                <br> <br>
                <input type="decimal" id="value" name="value">
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn orange">Cancle</a>
            </div>

        </div>
    </form>
</div>