<h3> Add Gift Card </h3>
<div class="row">
    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
    </form>
</div>