<h3> Edit Gift Card </h3>
<div class="row">
    <form action="/giftcards/{{gift._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="number" id="giftID" name="giftID" value="{{gift.giftID}}">
                <label for="giftID">GIFT CARD CODE: </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="value">VALUE: </label>
                <br> <br>
                $ <input type="decimal" id="value" name="value" value="{{gift.value}}">
            </div>
            <br>
            <div class="row">
                <select id="status" name="status">
                    {{#select gift.status}}
                    <option value="deactivated" selected>DEACTIVATED</option>
                    <option value="activated">ACTIVATED</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn">
                <a href="/dashboard" class="btn orange">Cancel</a>
            </div>
        </div>
    </form>
</div>